
<h1
  class="text-center text-4xl text-primary-dark font-bold mb-4"
>
  Challenge 1
</h1>
<hr>
<p
  class="text-justify text-common-base font-medium mt-4 mb-2"
>
  Having a list of n numbers with digits in range [0, S], where n <= 100, switch all list positions in O(n)
  time.
  If the input number contains a digit greater or equal than S, you will delete the digit from the
  number, for example with S=6, 61 becomes 1, and 6 will be deleted from the array. The result
  should be printed in console/terminal. <strong>Please, don't use built-in sort of your language.</strong>
</p>

<challenge-one-examples></challenge-one-examples>
<challenge-one-form></challenge-one-form>

