<h3
  class="text-primary-dark font-medium text-lg"
>
  Examples with S=6
</h3>

<ul>
  <li class="text-terciary-base font-medium">[1, 2, 3, 4, 5, 6] -> [5, 4, 3, 2, 1]</li>
  <li class="text-terciary-base font-medium">[10, 20, 30, 40] -> [40, 30, 20, 10]</li>
  <li class="text-terciary-base font-medium">[6] -> []</li>
  <li class="text-terciary-base font-medium"> [66] -> []</li>
  <li class="text-terciary-base font-medium">[65] -> [5]</li>
  <li class="text-terciary-base font-medium">[6, 2, 1] -> [1 , 2]</li>
  <li class="text-terciary-base font-medium">[60, 6, 5, 4, 3, 2, 7, 7, 29, 1] -> [1, 2, 2, 3, 4, 5, 0]</li>
</ul>
