

<h1
  class="text-center text-4xl text-primary-dark font-bold mb-4"
>
  Challenge 2
</h1>
<hr>
<p
  class="text-justify text-common-base font-medium mt-4 mb-2"
>
  Write a function that takes in a non-empty array of integers sorted in ascending order and returns a
  new array of the same length with the squares of the original integers also sorted in ascending
  order. If the output number is out of the range [0, SS] (for S=6 the range will be [0, 66]), you will
  delete it of the output array. <strong>Please, don't use built-in sort of your language.</strong>
</p>

<challenge-two-examples></challenge-two-examples>
<challenge-two-form></challenge-two-form>


