<form
  [formGroup]="myForm"
  (ngSubmit)="onSubmit()"
  class="flex flex-wrap gap-4 justify-center"
>
  <label class="flex flex-col gap-1 w-20">
    <span class="ps-1 capitalize text-primary-base font-medium">S number</span>
    <input
      type="number"
      class="input"
      formControlName="sNumber"
      >
    <span
      *ngIf="isError(myForm.controls['sNumber'])"
      class="ps-2 text-terciary-base text-xs font-medium"
    >
      {{getMessageError(myForm.controls['sNumber'].errors)}}
    </span>
  </label>

  <label class="flex flex-col gap-1">
    <span class="ps-1 capitalize text-primary-base font-medium" >put your case here</span>
    <input
    type="text"
    class="input"
    formControlName="test"
    >
    <span class="ps-2 text-xs text-primary-dark font-bold">Write numbers separated by commas</span>
    <span
      *ngIf="isError(myForm.controls['test'])"
      class="ps-2 text-terciary-base text-xs font-medium"
    >
    {{getMessageError(myForm.controls['test'].errors)}}
    </span>
  </label>

  <button class="self-center button" title="Get answer">get answer</button>
</form>


<section
  *ngIf="answerGetter()"
  class="shadow-sm shadow-primary-dark w-full sm:w-96 flex flex-wrap gap-4 h-32 sm:h-20  p-4 items-center rounded-lg justify-center mx-auto mt-4"
>
  <h3 class="text-3xl text-secondary-base font-bold uppercase">answer:</h3>
  <p>{{answerGetter() | json}}</p>
</section>

